.botao-escolha {
  padding: 15px;
  border-radius: 20px;
  font-size: 1em;
  font-family: 'Open Sans';
  font-weight: 300;
  color:#fff;
  background: rgb(85, 0, 255);
  cursor: pointer;
  margin-right: 30px;
  transition: background 0.3s;
}

.botao-escolha:hover {
  background: rgb(0, 128, 255);
}

.oculto {
  display: none;
}

.caixa-texto {
  font-weight: bold;
  color: black;
  background-color: #fff;
}

.caixa-texto:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.resposta-final {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  color: black;
  background: rgb(225, 211, 58);
  margin: 20px 0;
}