.dados {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}

.dados li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}

.dados li p {
  margin: 4px;
}

.dados input, .campo-resposta {
  padding: 10px;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  text-align: center;
  border-radius: 20px;
}

.dados input:focus, .campo-resposta:focus {
  outline: none;
  box-shadow: none;
}

.linguagem {
  width: 90%;
}

.dados button, .botao-resposta {
  padding: 10px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  margin: 20px 0;
  background: #56FFF5;
  border-radius: 10px;
  transition: background 0.2s;
}

.dados button:hover, .botao-resposta:hover {
  background: #4AD9D1;
}

.oculto {
  text-align: center;
  font-weight: 400;
  width: 70%;
  margin: 0px auto;
}